{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 68
      }
    }]
  ],
  "plugins": [
    "transform-regenerator",
    "react-hot-loader/babel",
    "transform-react-jsx",
    "transform-object-rest-spread"
  ]
}
